<div class="ui-g" [style]="{'min-width':'140px'}">
    <h3 class="first">Subcategorías
    <select name="miselect" [(ngModel)]="seleccionado" >
    <option [value]="subcategoria" *ngFor="let subcategoria of subcategorias" >
        {{subcategoria.nombresubcategoria}}</option>
    </select>
</h3> 
</div>

