<div class="ui-g" [style]="{'min-width':'140px'}">
    <h3 class="first">Categorías
 <select name="miselect" [(ngModel)]="seleccionado" >
    <option [value]="categoria" *ngFor="let categoria of categorias" >
        {{categoria.nombrecategoria}}</option>
    </select>
</h3> 
</div>


<!----------------------------------------------------------------------------->
<!--<p-dataView [value]="categorias">
    <ng-template let-categoria pTemplate="listItem">
        <div>
            {{categoria.nombrecategoria}}
           
        </div>
    </ng-template>
</p-dataView>-->

<!----------------------------------------------------------------------------------------->
<!--
    <p-table [value]="categorias" [columns]="cols" [paginator]="true" [rows]="15">
<ng-template pTemplate="header" let-columns>
    <tr>
        <th *ngFor="let col of columns">
            {{col.header}}
           
        </th>
    </tr>
</ng-template>
<ng-template pTemplate="body" let-categoria let-columns="columns">
    <tr [pSelectableRow]="categoria">
        <td *ngFor="let col of columns">
            {{categoria[col.field]}}
        </td>
    </tr>
</ng-template>
</p-table>



<div class="ui-g" [style]="{'min-width':'140px'}">
    <h3 class="first">Categorías
    <select name="miselect" [(ngModel)]="seleccionado" >
    <option [value]="categoria" *ngFor="let categoria of categorias" >
        {{categoria.nombrecategoria}}</option>
    </select>
</h3> 
</div>

-->

