#cuerpo{
    width: 800px;
    margin: 15px auto;
    text-align:center;
    }
    
    #encabezado{
    background:#AFEEEE;
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 8px;
    font-family: cursive;
    }
        
    #pie {
     clear: both;
    text-align: center;
    padding: 8px;
    border-top: 1px solid #999999;
    border-radius: 3px;
    }